<h1>TabarahHome#index</h1>
<p>Find me in app/views/tabarah_home/index.html.erb</p>

<div class="trakehner_horse_name">
  <%= image_tag 'boquete_retire_in_panama_small.jpeg' %>

  <h1>Boquete Business</h1>
</div>
