<!DOCTYPE html>

<html>
<head>
  <title>Contact Us</title>

  <!-- Meta tags are used by many search engines to index websites. -->
  <meta charset="UTF-8">
  <meta name="keywords"
    content="Trakehner horses for sale warmblood bloodlines breed Washington
    Abdullah Herzzauber Nemo Ichi-ban dressage jumping">
  <meta name="description"
    content="Tabarah Ranch strives to breed the ideal Trakehner for both the
    amateur and professional rider while adhering to the ideals of the Verband
    and the ATA, seeking beauty and harmony in every aspect of our horses.">
</head>

<body>
  <div class="tabarah">
    <div style="float:left; width:1%; height:100%; margin-bottom:-80px;">&nbsp;</div>
    <div id="main"> <!--begin main-->
      <br><br>
      <div class="tabarahRanchTrakehners">  <!-- Begin Tabarah Ranch logo section -->
        <div class="text-center">
          <table border="0" cellpadding="0" width='100%'>
            <tr>
              <td>
                <table style="border: 0px solid #000000; border-collapse: collapse;" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td rowspan='2' width='25%' class="center">
                      <%= render 'shared/trakehner_logo' %>
                    </td>
                    <td rowspan='1' width='50%' class="center">
                      <div class="my-h1">Tabarah Ranch</div>
                    </td>
                    <td rowspan='2' width='25%' class="center">
                      <%= render 'shared/trakehner_logo' %>
                    </td>
                  </tr>
                  <tr>
                    <td rowspan='1' width='50%' class="center">
                      <div class="my-h1">Trakehners</div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div> <!-- End Tabarah Ranch logo section -->

      <br> <br>
      <div class="my-p">
        <div class="text-center">
          <div class="phone">
            Susan Prestage
            <br>425-919-3122
          </div>

          <div class="webAddress">
            email:
            <a href="mailto:susan.prestage@gmail.com&amp;subject=Inquiry for Tabarah Ranch Trakehners"
              target="_blank"
              class="web">
              susan.prestage@gmail.com
            </a>
          </div>

          <div class="ranchAddress">
            <br>We are located in the Snoqualmie Valley, east of Seattle, in the
            beautiful but very rainy western half of Washington state.
          </div>
        </div>
      </div>
    </div> <!--end main-->
  </div> <!--end tabarah-->
  <br> <br> <br> <br> <br> <br> <br> <br> <br>
</body>
</html>
