<br><br><br><br>

<title>Jägerin's Pedigree</title>

<div class="tabarahRanchTrakehners text-center">
  <table border="0" cellpadding="0" width='100%'>
    <tr>
      <td>
        <table style="border: 0px solid #000000; border-collapse: collapse;" border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td rowspan='2' width='25%' class="center">
              <%= render 'shared/trakehner_logo' %>
            </td>
            <td rowspan='2' width='50%' class="text-center">
              <div class="my-h2">Jägerin</div>
            </td>
            <td rowspan='2' width='25%' class="center">
              <%= render 'shared/trakehner_logo' %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<br><br><br><br>

<div class="trakehnerHorsePedigree text-center">
  <table border="0" cellpadding="0" width='90%'>
    <tr>
      <td>
        <table style="border: 1px solid #000000; border-collapse: collapse;" border="1" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td rowspan='4' width='25%' class='male'>Nemo</td>
            <td rowspan='2' width='25%' class='male'>Ginster</td>
            <td rowspan='1' width='25%' class='male'>Pregel</td>
          </tr>
          <tr>
            <td rowspan='1' width='25%' class='female'>Guda</td>
          </tr>
          <tr>
            <td rowspan='2' width='25%' class='female'>Norsie</td>
            <td rowspan='1' width='25%' class='male'>Siegel</td>
          </tr>
          <tr>
            <td rowspan='1' width='25%' class='female'>Nome</td>
          </tr>
          <tr>
            <td rowspan='4' width='25%' class='female'>Jamilah</td>
            <td rowspan='2' width='25%' class='male'>Abdullah *Pg*</td>
            <td rowspan='1' width='25%' class='male'>Donauwind *E*</td>
          </tr>
          <tr>
            <td rowspan='1' width='25%' class='female'>Abiza *E*</td>
          </tr>
          <tr>
            <td rowspan='2' width='25%' class='female'>Thunders Flame xx</td>
            <td rowspan='1' width='25%' class='male'>Pennahton xx</td>
          </tr>
          <tr>
            <td rowspan='1' width='25%' class='female'>Anioma xx</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
