<div class="trakehner_horse_name">
  <h1>Tabarah Ranch Trakehners</h1>

  <p>If we have inspired you and you find yourself in the Pacific NorthWest,
  	please <%= link_to "contact us", contact_path %> as we would love
  	to have you out for tea and to meet our herd.</p>

  <!-- <p>If we have inspired you and you find yourself in the Pacific NorthWest,
  	please <%= link_to "contact us", tabarahranchtrakehners_contact_path %> as we would love
  	to have you out for tea and to meet our herd.</p> -->

</div>
