<!DOCTYPE html>

<!-- TODO: Need to investigate making this better for mobile devices. *author's note to self -->
<html>
<head>
	<title>Pedigrees of Our Herd</title>

<!-- Meta tags are used by many search engines to index websites.  *author's note to self -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="Trakehner horses for sale warmblood bloodlines breed Washington Abdullah Herzzauber Nemo Ichi-ban dressage jumping" />
<meta name="description" content="Tabarah Ranch strives to breed the ideal
Trakehner for both the amature and professional rider while adhering to the
ideals of the Verband and the ATA, seeking beauty and harmony in every aspect
of our horses." />

	<link rel="shortcut icon" href="favicon.ico">

</head>

<div class="tabarah">

<DIV style="float:left; width:1%; height:100%;margin-bottom:-80px;">&nbsp;</DIV>
<DIV id="main"> <!--begin main-->
<br> <br>

<div class="text-center">
  <div class="my-h1">Our Herd's Pedigrees</div> <br> <br> <br> <br> <br> <br>
	<p>
		<div class="my-h3">
			<%= link_to "Jägerin's pedigree", gerin_pedigree_path %> <br> <br> <br> <br> <br>
			<%= link_to "Jädorin's pedigree", dorin_pedigree_path %> <br> <br> <br> <br> <br>
			<%= link_to "Joriah's pedigree", jori_pedigree_path %> <br> <br> <br> <br> <br>
			<%= link_to "Jakira's pedigree", kira_pedigree_path %>
		</div>
	</p>
</div>

</div>
</html>
